@font-face {
  font-family: 'Open-Sans';
  src: url('~@/assets/fonts/Open-Sans.eot'); /* IE 9 Compatibility Mode */
  src: url('~@/assets/fonts/Open-Sans.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
    url('~@/assets/fonts/Open-Sans.woff2') format('woff2'), /* Super Modern Browsers */
    url('~@/assets/fonts/Open-Sans.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('~@/assets/fonts/Open-Sans.ttf') format('truetype'), /* Safari, Android, iOS */
    url('~@/assets/fonts/Open-Sans.svg#magnolia-script') format('svg'); /* Chrome < 4, Legacy iOS */
}